<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cmslainwh.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cmslainwh.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CMSLainWH</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CMSLainWH</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=lwhserver.database.windows.net;Initial Catalog=aspnet-WebApplication4-20170329115733;Persist Security Info=True;User ID=lwh;Password=W3nh4nlain1994" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication4.Models.ApplicationDbContext, WebApplication4" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MLineEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=lwhserver.database.windows.net;Initial Catalog=&quot;C:\USERS\HELLO\DOCUMENTS\VISUAL STUDIO 2015\PROJECTS\WEBAPPLICATION4\WEBAPPLICATION4\APP_DATA\MLINE.MDF&quot;;Persist Security Info=True;User ID=lwh;Password=W3nh4nlain1994" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication4.Models.MLineEntities, WebApplication4" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=lwhserver.database.windows.net;Initial Catalog=aspnet-WebApplication4-20170329115733;Persist Security Info=True;User ID=lwh;Password=W3nh4nlain1994</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MLineEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Staff.csdl|res://*/Models.Staff.ssdl|res://*/Models.Staff.msl;provider=System.Data.SqlClient;provider connection string='Data Source=lwhserver.database.windows.net;Initial Catalog="C:\USERS\HELLO\DOCUMENTS\VISUAL STUDIO 2015\PROJECTS\WEBAPPLICATION4\WEBAPPLICATION4\APP_DATA\MLINE.MDF";Persist Security Info=True;User ID=lwh;Password=W3nh4nlain1994'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>