@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>About Maerks Line Management System</h1>
    <img src="~/Content/Image/images.jpg" />
    <p class="lead">Maersk Line is the global container division and the largest operating unit of the A.P. Moller – Maersk Group, a Danish business conglomerate. It is the world's largest container shipping company having customers through 374 offices in 116 countries. It employs approximately 7,000 sea farers and approximately 25,000 land-based people. Maersk Line operates over 600 vessels and has a capacity of 2.6 million TEU. The company was founded in 1928.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Description about Cargo</h2>
        <p>
            All articles, goods, materials, merchandise, or wares carried on board an aircraft, ship, train, or truck, and for which an air waybill, or bill of lading, or other receipt is issued by the carrier. It includes livestock, but usually does not include bunkers (fuel for powering the vessel or vehicle), accompanying baggage, vessel or vehicle's equipment and spare parts, mail, and stores. Personnel carried on board are classified as crew or passengers. 
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Cargo>Check"> For more detail &raquo;</a></p>
    </div>   
</div>